<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Piece Fan-Club</title>
</head>
<body>
    {% if user.is_authenticated %}
  <p>Welcome, {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
  <h2>Recent Discussions</h2>
  <ul>
      {% for discussion in discussions %}
          <li><a href="{% url 'discussion-detail' discussion.id %}">{{ discussion.title }}</a></li>
      {% empty %}
          <li>No discussions yet.</li>
      {% endfor %}
  </ul>

  {% else %}
 <h1>Welcome to One piece fan hub</h1>
    <p>Become a crew member of amazing discussions on fan theories and peak arcs</p>
    <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a></p>
    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
 
</body>
</html>